<ion-header translucent>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="background ion-padding">
  <form [formGroup]="singin3Form" (ngSubmit)="signin3()">

    <ion-grid [ngStyle]="{'height':'100%'}">

      <ion-row [ngStyle]="{'width':'100%'}">
        <ion-col>
          <span>Referencias personales</span>
        </ion-col>
      </ion-row>

      <ion-row [ngStyle]="{'width':'100%'}">
        <ion-col>
          <ion-item class="input-round ion-margin-top">
            <img src="/assets/icon/email.png" alt="" class="icon"/>
            <ion-input class="ion-padding-start" placeholder="Nombre y apellido" type="text" formControlName="referenceName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row [ngStyle]="{'width':'100%'}">
        <ion-col>
          <ion-item class="input-round ion-margin-top">
            <img src="/assets/icon/telefono.png" alt="" class="icon"/>
            <ion-input class="ion-padding-start" placeholder="Número de teléfono" type="text" formControlName="referenceNumber"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row [ngStyle]="{'width':'100%'}">
        <ion-col>
          <ion-item class="input-round ion-margin-top" [ngStyle]="{'margin-bottom':'40px'}">
            <img src="/assets/icon/email.png" alt="" class="icon"/>
            <ion-input class="ion-padding-start" placeholder="Dirección" type="text" formControlName="referenceDirection"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row [ngStyle]="{'width':'100%'}">
        <ion-col>
          <ion-item class="input-round ion-margin-top">
            <img src="/assets/icon/email.png" alt="" class="icon"/>
            <ion-input class="ion-padding-start" placeholder="Nombre y apellido" type="text" formControlName="referenceName2"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row [ngStyle]="{'width':'100%'}">
        <ion-col>
          <ion-item class="input-round ion-margin-top">
            <img src="/assets/icon/telefono.png" alt="" class="icon"/>
            <ion-input class="ion-padding-start" placeholder="Número de teléfono" type="text" formControlName="referenceNumber2"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row [ngStyle]="{'width':'100%'}">
        <ion-col>
          <ion-item class="input-round ion-margin-vertical">
            <img src="/assets/icon/email.png" alt="" class="icon"/>
            <ion-input class="ion-padding-start" placeholder="Dirección" type="text" formControlName="referenceDirection2"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row [ngStyle]="{'width':'100%'}">
        <ion-col>
          <span class="ion-margin-top">Datos del vehiculo</span>
        </ion-col>
      </ion-row>

      <ion-row [ngStyle]="{'width':'100%'}">
        <ion-col>
          <ion-item class="input-round ion-margin-top">
            <img src="/assets/icon/email.png" alt="" class="icon"/>
            <ion-input class="ion-padding-start" placeholder="Número de placa" type="text" formControlName="numberPlate"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-center">

        <ion-col class="ion-float-left" [ngStyle]="{'width':'100%'}">
          <div class="box-gradient">
            <ion-button fill="clear" expand="block" class="btn-home" (click)="getPicture('plateFront')">
              <span class="ion-text-left">Foto de placa</span>
              <ion-icon slot="end" name="cloud-upload"></ion-icon>
            </ion-button>
          </div>
        </ion-col>

        <ion-col class="ion-float-right" *ngIf="singin3Form.value.plateFront != ''">
          <ion-icon name="checkmark"></ion-icon>
        </ion-col>

      </ion-row>

      <ion-row [ngStyle]="{'width':'100%'}">
        <ion-col>
          <ion-item class="input-round ion-margin-top">
            <img src="/assets/icon/email.png" alt="" class="icon"/>
            <ion-input class="ion-padding-start" placeholder="Número de póliza de seguro" type="text" formControlName="numberPolicy"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-center">

        <ion-col class="ion-float-left" [ngStyle]="{'width':'100%'}">
          <div class="box-gradient">
            <ion-button fill="clear" expand="block" class="btn-home" (click)="getPicture('policyFront')">
              <span class="ion-text-left">Foto de póliza de seguro</span>
              <ion-icon slot="end" name="cloud-upload"></ion-icon>
            </ion-button>
          </div>
        </ion-col>

        <ion-col class="ion-float-right" *ngIf="singin3Form.value.policyFront != ''">
          <ion-icon name="checkmark"></ion-icon>
        </ion-col>

      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-center">

        <ion-col class="ion-float-left" [ngStyle]="{'width':'100%'}">
          <div class="box-gradient">
            <ion-button fill="clear" expand="block" class="btn-home" (click)="getPicture('identificationCardFront')" [ngStyle]="{'font-size':'0.65rem'}">
              <span class="ion-text-left">Foto de tarjeta de identificación frontal</span>
              <ion-icon slot="end" name="cloud-upload"></ion-icon>
            </ion-button>
          </div>
        </ion-col>

        <ion-col class="ion-float-right" *ngIf="singin3Form.value.identificationCardFront != ''">
          <ion-icon name="checkmark"></ion-icon>
        </ion-col>

      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-center">

        <ion-col class="ion-float-left" [ngStyle]="{'width':'100%'}">
          <div class="box-gradient">
            <ion-button fill="clear" expand="block" class="btn-home" (click)="getPicture('identificationCardBack')" [ngStyle]="{'font-size':'0.65rem'}">
              <span class="ion-text-left">Foto de tarjeta de identificación posterior</span>
              <ion-icon slot="end" name="cloud-upload"></ion-icon>
            </ion-button>
          </div>
        </ion-col>

        <ion-col class="ion-float-right" *ngIf="singin3Form.value.identificationCardBack != ''">
          <ion-icon name="checkmark"></ion-icon>
        </ion-col>

      </ion-row>
      
      <div class="ion-margin-top ion-text-center">
        <div class="box-gradient">
          <ion-button expand="block" fill="clear" class="btn-home" type="submit" [disabled]="!singin3Form.valid">Registrarse</ion-button>
        </div>
        <span>¿Ya tienes cuenta?<a class="link" [routerLink]="['/login']"> Inicia sesión</a></span>
      </div>

    </ion-grid>


  </form>
</ion-content>
