<ion-toolbar class="btn-trip header">
  <ion-buttons slot="end" (click)="showOptions($event)" class="header-opt">
    <ion-icon name="more"></ion-icon>
  </ion-buttons>
</ion-toolbar>
<div class="header-bottom">
  <div class="header-content-img">
    <img src="assets/img/logo.png" alt="" class="header-img">
  </div>
</div>