.header {
    align-items: center;
    display: flex;
    height: 100px;
}

.header-opt {
    color: white;
    font-size: 29px;
    font-weight: bold;
    margin-right: 10px;
}

.header-bottom {
    height: 40px;
    position: relative;
}

.header-content-img {
    align-items: center;
    background: none;
    display: flex;
    height: 80px;
    justify-content: center;
    left: 0;
    padding: 2.5px;
    position: absolute;
    top: -40px;
    width: 100%;
    z-index: 100;
}

.header-img {
    border-radius: 50%;
    height: 100%;
    margin: auto;
    top: 60px;
    width: 75px;
}