<ion-header>
  <ion-segment>
    <ion-grid>
      <ion-row>
        <div class="ion-float-left">
          <img src="/assets/img/logo.png" height="40" width="40" alt="" class="logo"/>      
        </div>
      </ion-row>
    </ion-grid>
  </ion-segment>
</ion-header>

<ion-content>
  <div #map id="map" ></div>
  <div *ngFor="let trip of trip">
    <ion-grid style="margin-top: 10px;">
      <ion-row style="display: flex; justify-content: flex-end; margin-bottom: 10px; font-size: 14px; color: white;">
        <ion-buttons style="background-color: rgb(170, 0, 0); border-radius: 12px; padding: 5px 30px; display: flex; justify-content: center; align-items: center;" (click)="reportTrip()">
          Reportar viaje
        </ion-buttons>
      </ion-row>
      
      <ion-row style="padding: 0 15px;">
        <ion-text style="padding: 0; display: flex; align-items: center;width: 100%;">
          <ion-icon name="locate" style="color: blue; font-size: 20px; margin: 5px 5px 5px 0;"></ion-icon>
          <p style=" font-size: 14px; margin-left: 5px; margin: 5px 0;">
            {{locationStart}}
          </p>
        </ion-text>
      </ion-row>

      <ion-row style="padding: 0 15px;">
        <ion-text style="padding: 0; display: flex; align-items: center;width: 100%;">
          <ion-icon name="car" style="color: green; font-size: 20px; margin: 5px 5px 5px 0;"></ion-icon>
          <p style=" font-size: 14px; margin-left: 5px; border-bottom: .5px solid darkgrey; width: 100%; margin: 5px 0;">
            {{locationEnd}}
          </p>
        </ion-text>
      </ion-row>

      <ion-grid style="font-size: 14px; font-weight: bold; margin-top: 15px;">
        <ion-row>
          <ion-text style="display: flex; align-items: center; margin: 5px 0;">
            <p style="margin: 0;">
              Código para iniciar viaje
            </p>
            <ion-icon name="information-circle" style="color: darkgrey; font-size: 20px; margin: 0 0 0 5px;"></ion-icon>
          </ion-text>
        </ion-row>
        <ion-row style="padding-left: 10px;">
          <ion-text style="background-color: rgb(210, 210, 210); width: 250px; padding: 5px; text-align: center;">
            {{codStart}}
          </ion-text>
        </ion-row>
      </ion-grid>

      <ion-grid style="font-size: 14px; font-weight: bold; margin-top: 5px;">
        <ion-row>
          <ion-text style="display: flex; align-items: center; margin: 5px 0;">
            <p style="margin: 0;">
              Código para finalizar viaje
            </p>
            <ion-icon name="information-circle" style="color: darkgrey; font-size: 20px; margin: 0 0 0 5px;"></ion-icon>
          </ion-text>
        </ion-row>
        <ion-row style="padding-left: 10px;">
          <ion-text style="background-color: rgb(210, 210, 210); width: 250px; padding: 5px; text-align: center;">
            {{codEnd}}
          </ion-text>
        </ion-row>
      </ion-grid>

      <ion-grid style="font-size: 14px; font-weight: bold; margin-top: 5px;">
        <ion-row>
          <ion-text style="display: flex; align-items: center; margin: 5px 0;">
            <p style="margin: 0;">
              Conductor
            </p>
            <ion-icon name="information-circle" style="color: darkgrey; font-size: 20px; margin: 0 0 0 5px;"></ion-icon>
          </ion-text>
        </ion-row>
        <ion-row style="padding-left: 10px;">
          <ion-text style="background-color: rgb(210, 210, 210); width: 250px; padding: 5px; text-align: center;">
            {{trip.driver}}
            <p *ngIf="trip.driver === null">Buscando...</p>
          </ion-text>
        </ion-row>
      </ion-grid>
      
    </ion-grid>
  </div>
</ion-content>
<div [ngClass]="estiloViajeEnviado"></div>
