
<div class="logo">
    <a routerLink="/dashboard" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="./assets/logo.png"/>
      </div>
    </a>
    <a class="simple-text logo-normal" routerLink="/dashboard">
        YouLand
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>

            <!-- <a [routerLink]="" *ngIf="menuItem.title == 'Viajes'">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a> -->

            <!-- <div class="dropdown-menu dropdown-menu-right" *ngIf="menuItem.title == 'Viajes'">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div> -->

        </li>
    </ul>
</div>
