<ion-toolbar class="header">
  <img src="/assets/img/logo.png" height="40" width="40" alt="" class="logo"/>
</ion-toolbar>

<ion-content class="background">
  <ion-grid style="font-size: 14px;">
    <ion-row class="ion-align-items-center ion-justify-content-center" style="font-size: 24px; margin: 30px 5px;">
      <ion-text>Calificar Servicio</ion-text>
    </ion-row>

    <ion-row style="padding: 0 5px;">
      <p style="margin: 0;">Tu viaje fue realizado por:</p>
    </ion-row>

    <ion-row class="content-data ion-align-items-center ion-justify-content-center" style="margin-top: 15px;">
      <ion-icon name="person" class="data-icon"></ion-icon>
      <p class="data-value">{{client}}</p>
    </ion-row>

    <ion-row class="content-data ion-align-items-center ion-justify-content-center" style="margin-bottom: 30px;">
      <ion-icon name="calendar" class="data-icon"></ion-icon>
      <p class="data-value">{{fecha}}</p>
    </ion-row>

    <ion-row style="padding: 0 5px;">
      <ion-text>Calificalo:</ion-text>
    </ion-row>

    <ion-row class="star ion-align-items-center ion-justify-content-center">
      <div>
        <ion-icon name="star" class="font-38 c-grey-c c-orange"></ion-icon>
        <ion-icon name="star" class="font-38 c-grey-c"></ion-icon>
        <ion-icon name="star" class="font-38 c-grey-c"></ion-icon>
        <ion-icon name="star" class="font-38 c-grey-c"></ion-icon>
        <ion-icon name="star" class="font-38 c-grey-c"></ion-icon>
      </div>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center" style="float: bottom;" style="margin-top: 30px;">
      <ion-buttons class="rating box-gradient ion-align-items-center ion-justify-content-center" (click)="calificar()">Calificar</ion-buttons>
    </ion-row>
  </ion-grid>
</ion-content>
