<app-header></app-header>


<div class="back">
  <ion-buttons class="back" [routerLink]="['/tabs']">
    <ion-icon slot="icon-only" name="arrow-back" style="font-size: 16px; font-weight: bold;"></ion-icon>
    <p>Atrás</p>
  </ion-buttons>
</div>

<div class="content-camera">
  <div class="position-camera">
    <ion-buttons class="camera ion-align-items-center ion-justify-content-center">
      <ion-icon slot="icon-only" name="camera" style="font-size: 12px;"></ion-icon>
    </ion-buttons>
  </div>
</div>

<ion-content>
  <form class="form">
    <ion-grid>
      <ion-row>
        <ion-col class="form-icon" size="10px">
          <ion-icon name="person" style="color: cyan; font-size: 20px;"></ion-icon>
        </ion-col>
        <ion-col class="form-label-input">
          <ion-row class="form-label">
            <ion-label>Nombre y apellido</ion-label>
            <ion-icon name="create" style="color: darkgray; font-size: 14px;"></ion-icon>
          </ion-row>
          <ion-row class="form-input">
            <ion-input type="text" name="title" class="input" value="Luis Rivas"></ion-input>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col class="form-icon" size="10px">
          <ion-icon name="call" style="color: cyan; font-size: 20px;"></ion-icon>
        </ion-col>
        <ion-col class="form-label-input">
          <ion-row class="form-label">
            <ion-label>Número de télefono</ion-label>
            <ion-icon name="create" style="color: darkgray; font-size: 14px;"></ion-icon>
          </ion-row>
          <ion-row class="form-input">
            <ion-input type="text" name="title" class="input" value="+58 9439876"></ion-input>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col class="form-icon" size="10px">
          <ion-icon name="mail" style="color: cyan; font-size: 20px;"></ion-icon>
        </ion-col>
        <ion-col class="form-label-input">
          <ion-row class="form-label">
            <ion-label>E-mail</ion-label>
            <ion-icon name="create" style="color: darkgray; font-size: 14px;"></ion-icon>
          </ion-row>
          <ion-row class="form-input">
            <ion-input type="email" name="title" class="input" value="Lrivas@gmail.com"></ion-input>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col class="form-icon" size="10px">
          <ion-icon name="lock" style="color: cyan; font-size: 20px;"></ion-icon>
        </ion-col>
        <ion-col class="form-label-input">
          <ion-row class="form-label">
            <ion-label>Contraseña</ion-label>
            <ion-icon name="create" style="color: darkgray; font-size: 14px;"></ion-icon>
          </ion-row>
          <ion-row class="form-input">
            <ion-input type="password" name="title" class="input" value="123456789"></ion-input>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col class="form-icon" size="10px">
          <ion-icon name="lock" style="color: cyan; font-size: 20px;"></ion-icon>
        </ion-col>
        <ion-col class="form-label-input">
          <ion-row class="form-label">
            <ion-label>Confirmar contraseña</ion-label>
            <ion-icon name="create" style="color: darkgray; font-size: 14px;"></ion-icon>
          </ion-row>
          <ion-row class="form-input">
            <ion-input type="password" name="title" class="input" value="123456789"></ion-input>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-buttons class="save box-gradient ion-align-items-center ion-justify-content-center">Guardar</ion-buttons>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
