.back {
    align-items: center;
    color: white;
    display: flex;
    font-size: 12px;
    height: 100px;
    left: 0;
    margin-left: 5px;
    outline: none;
    position: absolute;
    top: 0;
}

.content-camera {
    align-content: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 115px;
    width: 100%;
    z-index: 110;
}

.content-camera .position-camera {
    display: flex;
    justify-content: flex-end;
    width: 75px;
}

.content-camera .camera {
    background-color: darkgray;
    border-radius: 50%;
    color: white;
    height: 22px;
    width: 22px;
}

.form { margin-top: 50px; }

.form > * { margin-bottom: 10px;}

.form * { font-size: 14px; }

.form-icon {
    font-size: 32px;
    padding: 0 5px;
}

.form-label-input {
    margin-right: 5px;
    padding: 2px 0;
}

.form-label {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

.form-input .input {
    border-bottom: thin solid darkgray;
    height: 2em;
    padding: 0;
}

.save {
    border-radius: 30px;
    font-weight: bold;
    width: 300px;
}

.save:hover { background-color: #a9da1f; }