<ion-header>
  <ion-segment>
    <ion-grid>
      <ion-row>
        <div class="ion-float-left">
          <img src="/assets/img/logo.png" height="40" width="40" alt="" class="logo"/>      
        </div>
      </ion-row>
    </ion-grid>
  </ion-segment>
</ion-header>

<ion-content>
  <div #map id="map" ></div>

  <ion-button [disabled]="desacReport" shape="round" style="float: right;" (click)="reportTrip()">
    Reportar viaje
  </ion-button>
  <br>
  <br>
  <br>
  <div *ngIf="!choice">
      <ion-item>
        <ion-item>
          <ion-label><ion-icon name="calendar"></ion-icon></ion-label>
          <ion-datetime [(ngModel)]="day" displayFormat="MM/DD/YYYY" min="2020-02-04" max="2025-12-09" (ngModelChange)="dayChange(day)"></ion-datetime>
        </ion-item><br>
        <ion-item>
          <ion-label><ion-icon name="time" ></ion-icon></ion-label>
          <ion-datetime  [(ngModel)]="day" displayFormat="HH:mm" (ngModelChange)="dayChange(day)"></ion-datetime>
        </ion-item>
      </ion-item>
  </div>
  <div *ngIf="!choice">
      <p>Horas que faltan para realizar su viaje:</p>
  </div>

  <div class="container" *ngIf="!choice">
      <p id="timer">
          <span>{{timer_days}}</span> :
          <span>{{timer_hours}}</span> :
          <span>{{timer_minutes}}</span> :
          <span>{{timer_secs}}</span>
      </p>
      <p id="timer" style="text-align: center; font-weight: lighter; font-size: 20px;">
          <span> Dias </span> 
          <span> Horas </span> 
          <span> Minutos </span>
          <span> Segundos </span>
        </p>
      </div>
      
      <p *ngIf="choice" style="text-align: center;">Se procedera con la busqueda de un conductor disponible inmediatamente</p>
      
      <div class="container" style="text-align: center;">
      <ion-button fill="outline" class="report-button" (click)="pago()">
        Realizar Pago
      </ion-button>
      <ion-button  fill="outline" class="report-button" (click)="cancelar()">
        Cancelar viaje
      </ion-button>
  </div>
  
  
</ion-content>
<div [ngClass]="estiloViajeEnviado"></div>