.background{
  --background: url("/assets/img/bg.png") 0 0/100% 100% no-repeat;
}

.box-gradient{
  margin: 0;
  height: 100%;
  border-left: 2px solid #a9da1f;
  border-right: 2px solid #01acca;
  background-size: 100% 2px;
}

.estiloDesactivado{
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.4;
}
  

.card{
  --background: #f2f2f2
}

.card-header{
  border-bottom: 1px solid #cecece;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
}

.segment-button-checked{
  // --background: ;
  background: linear-gradient(90deg, #02b9c1, #83da22) !important;
  color: white;
}

// GOOGLE MAPS

#map_canvas {
  width: 90%;
  height: 80%;
  border: 1px solid red;
}
 
 
#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
 
#map {
  width: 100%;
  height: 30vh;
}
 
.map-wrapper {
  position: relative;
 
  #map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -41px;
  }
}