<ion-header>
  <ion-segment [(ngModel)]="accion">
    <ion-grid>
      <ion-row>
        <div class="ion-float-left">
          <img src="/assets/img/logo.png" height="40" width="40" alt="" class="logo"/>      
        </div>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-segment-button value="guia">
            <ion-icon name="flash"></ion-icon>
            <ion-label>Guia turistica</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col size="6">
          <ion-segment-button value="taxi">
            <ion-icon name="car"></ion-icon>
            <ion-label>Taxi</ion-label>
          </ion-segment-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-segment>
</ion-header>

<ion-content class="background">

  <div *ngIf="accion == 'guia'">
    <ion-grid style="height: 100%" *ngIf="loader == true">
      <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%; flex-direction: column">
        <ion-spinner color="primary" class=""></ion-spinner>
        Cargando viajes...
      </ion-row>
    </ion-grid>

    <ion-grid style="height: 100%" *ngIf="loader == false && trips.length == 0">
      <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%; flex-direction: column">
        No hay viajes disponibles...
      </ion-row>
    </ion-grid>

    <div *ngIf="loader == false && trips.length > 0">
      
      <div *ngFor='let trip of trips'>
        <ion-card class="card mt-3">
          <ion-card-header class="card-header">
            <div class="ion-float-left">
              {{trip.title}}
            </div>
            <div class="ion-float-right">
              500$
            </div>
          </ion-card-header>
          <ion-card-content class="ion-margin-top">
            <p>{{trip.point}}{{trip.time}}</p>
            <div>
              <ion-grid>
                <ion-row>
                  <ion-col size="7">
                    <ion-button fill="clear" class="btn-trip" (click)="reserveTrip(trip.id, 'programar')">Programar viaje</ion-button>
                  </ion-col>
                  <ion-col size="5">
                    <ion-button fill="clear" class="btn-trip" (click)="reserveTrip(trip.id, 'tomar')">Tomar viaje</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    
  </div>

  
  <div *ngIf="accion == 'taxi'">
    
    <ion-button (click)="loadMap()" shape="round" fill="outline">
      <ion-icon slot="start" name="locate"></ion-icon>
      ¿Donde estoy?
    </ion-button>
    <div #map id="map" ></div>
  
  <!-- DONDE ESTAS? -->
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocompleteStart.input" (ionInput)="updateSearchResultsStart()" placeholder="¿A donde estas?"></ion-searchbar>
  </ion-toolbar>
  <ion-list [hidden]="autocompleteItemsStart.length == 0">
    <ion-item *ngFor="let item of autocompleteItemsStart" tappable (click)="selectSearchResultStart(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
  <!-- A DONDE VAS? -->
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="¿A donde vas?"></ion-searchbar>
  </ion-toolbar>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
    <ion-item>
      <ion-label><ion-icon name="card"></ion-icon></ion-label>
      <ion-input [(ngModel)]="precio" placeholder="Costo" maxlength="0" disabled style="opacity: 1!important;"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center" style=" flex-direction: column">
        <ion-button shape="round"  class="report-button" (click)="pedirViaje()" [disabled]="!pedir_viaje">
          Pedir Viaje
        </ion-button>
      </ion-row>
    </ion-grid>

    
  
  </div>
  

</ion-content>
<div [ngClass]="estiloViajeEnviado"></div>