<div class="text-center">
  <app-progress-bar *ngIf="showBar == true"></app-progress-bar>
  <h1 mat-dialog-title>{{userData.rol}}</h1>
  <div mat-dialog-content>
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress"></div>
    <img src="{{url}}{{userData.photo}}" class="profile-photo" alt="">
    <div class="row">
      <div class="cold-12">
        <h3>Datos Basicos</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h5>Nombre</h5>
        <p>{{userData.name}}</p>
      </div>
      <div class="col-md-3">
        <h5>Correo</h5>
        <span>{{userData.email}}</span>
      </div>
      <div class="col-md-3">
        <h5>Teléfono</h5>
        <p>{{userData.phone}}</p>
      </div>
      <div class="col-md-3">
        <h5>Estatus</h5>
        <p *ngIf = "userData.status == 1 || userData.status == 3">Desaprobado</p>
        <p *ngIf = "userData.status == 2 || userData.status == 4">Aprobado</p>
      </div>    
    </div>
    <div class="row" *ngIf="userData.rol == 'Conductor'">
      <div class="cold-12">
        <h3>Datos Conductor</h3>
      </div>
      <div class="table-responsive">
        <table class="table" mat-table [dataSource]="dataSource" matSort>
        
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element">
              {{element.name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf = "element.number != ''">{{element.number}}</span> 
              <span *ngIf = "element.number == ''">Vacio</span> 
            </td>
          </ng-container>

          <ng-container matColumnDef="front">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cara frontal</th>
            <td mat-cell *matCellDef="let element">
              <button mat-mini-fab matTooltip="Ver detalles" (click)="openDialog(element.front)" *ngIf="element.front != ''" [ngStyle]="{'margin-right': '5px', 'background':'#6f91be', 'color':'white'}">
                <i class="fa fa-eye" ></i>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="back">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cara posterior</th>
            <td mat-cell *matCellDef="let element">
              <button mat-mini-fab matTooltip="Ver detalles" (click)="openDialog(element.back)" *ngIf="element.back != ''" [ngStyle]="{'margin-right': '5px', 'background':'#6f91be', 'color':'white'}">
                <i class="fa fa-eye" ></i>
              </button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
  
