<ion-header>
  <ion-segment [(ngModel)]="accion">
    <ion-grid>
      <ion-row>
        <div class="ion-float-left">
          <img src="/assets/img/logo.png" height="40" width="40" alt="" class="logo"/>      
        </div>
        <div>
          <ion-buttons class="ion-float-right" slot="end" [routerLink]="['/tabs']">
            <ion-icon slot="icon-only" name="arrow-forward">
            </ion-icon>
          </ion-buttons>
        </div>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-segment-button value="cartera">
            <ion-icon name="wallet"></ion-icon>
            <ion-label>Cartera</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col size="6">
          <ion-segment-button value="pagos">
            <ion-icon name="cash"></ion-icon>
            <ion-label>Pagos</ion-label>
          </ion-segment-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-segment>
</ion-header>

<ion-content class="background">
  <ion-grid style="height: 100%" *ngIf="cargado == false">
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%; flex-direction: column">
      <ion-spinner color="primary" class=""></ion-spinner>
      Cargando viajes...
    </ion-row>
  </ion-grid>
<div *ngIf="cargado">
    <div *ngIf="accion == 'cartera'">
      <ion-card class="card"  style="text-align:center;">
        <h1>${{cash}}</h1>
      </ion-card>
      <ion-button (click)="pagarStripe()">
        <ion-icon slot="start" name="card" ></ion-icon>
        Sumar saldo Stripe
      </ion-button>
    </div>

  <div *ngIf="accion == 'pagos'">
    <div *ngFor="let story of wallet_history">
      <ion-card class="card">
        <ion-card-header class="card-header-turist">
          <div class="ion-float-left">
            {{story.tipo}}
          </div>
          <div class="ion-float-right">
            Plataforma: Stripe
          </div>
        </ion-card-header>
        <ion-card-content class="ion-margin-top">
          <p>Recargo <strong>{{story.monto}}$</strong> el dia {{story.fecha | date : 'short'}}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>
</ion-content>
