<app-progress-bar *ngIf="showBar == true"></app-progress-bar>
<div class="panel-header panel-header-lg">
    <!-- <h5 class="card-category ml-5" [ngStyle]="{'color':'white'}">Viajes registrados</h5> -->
    <div class="card text-center card-users">
        <p>Choferes registrados</p>
        <span>{{qtyDrivers}}</span>
    </div>
    <canvas baseChart id="bigDashboardChart"
        [datasets]="lineBigDashboardChartData"
        [labels]="lineBigDashboardChartLabels"
        [colors]="lineBigDashboardChartColors"
        [options]="lineBigDashboardChartOptions"
        [chartType]="lineBigDashboardChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Choferes ranking</h5>
            </div>
            <div class="card-body">
                <div class="chart-area">
                <canvas baseChart id="barChartSimpleGradientsNumbers"
                    [datasets]="lineChartGradientsNumbersData"
                    [labels]="lineChartGradientsNumbersLabels"
                    [colors]="lineChartGradientsNumbersColors"
                    [options]="lineChartGradientsNumbersOptions"
                    [chartType]="lineChartGradientsNumbersType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header row">
          <div class="col-md-6">
            Choferes
          </div>
          <div class="col-md-6">
            <mat-form-field class="pull-right">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
            
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
            
              <ng-container matColumnDef="rol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.status == 0">
                        Sin documentos
                    </span>
                    <span *ngIf="element.status == 1">
                        Sin aprobar
                    </span>
                    <span *ngIf="element.status == 2">
                        Aprobado
                    </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> Opciones</th>
                <td mat-cell *matCellDef="let element">

                  <button mat-mini-fab matTooltip="Ver detalles" (click)="openDialog(element)" [ngStyle]="{'margin-right': '5px', 'background':'#6f91be', 'color':'white'}">
                    <i class="fa fa-eye" ></i>
                  </button>

                  <button mat-mini-fab matTooltip="Aprobar" (click)="changeStatus(element.id, element.status)" *ngIf="element.status == 1" [ngStyle]="{'margin-right': '5px', 'background':'#378e01', 'color':'white'}">
                    <i class="fa fa-check"></i>
                  </button>

                  <button mat-mini-fab color="warn" matTooltip="Desaprobar" (click)="changeStatus(element.id, element.status)" *ngIf="element.status == 2" [ngStyle]="{'margin-right': '5px', 'color':'white'}">
                    <i class="fa fa-times"></i>
                  </button>

                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
