<form [formGroup]="form" style="height: 100%;">
    <label for="">Introduce la dirección</label>
    <input type="text" value="{{value}}" formControlName="direction" class="form-control" (keyup)="getAddress()">
    <mat-list role="list" style="height: 100%" *ngIf="showList == true && form.value.direccion != ''" style="padding-bottom: 0; margin-bottom: 0">
        <mat-list-item style="height: 100%" *ngFor="let item of autocompleteItems" (click)="selectPlace_begin(item)">
            <p>{{item}}</p>
        </mat-list-item>
    </mat-list>
</form>

