.background{
    --background: url("/assets/img/bg.png") 0 0/100% 100% no-repeat;
}

.c-grey-c { color: rgb(190, 190, 190); }

.c-orange { color: orange; }

.content-data * { margin: 10px 5px; }

.content-data .data-icon {
    font-size: 30px;
    margin: 0 10px 0 5px;
}

.content-data .data-value {
    align-items: center;
    background-color: rgb(210, 210, 210);
    display: flex;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    padding: 5px;
    width: 280px;
}

.font-38 { font-size: 38px; }

.header {
    align-items: center;
    background-color: red;
    display: flex;
    height: 80px;
    padding: 10px;
}

.rating {
    border-radius: 30px;
    font-weight: bold;
    width: 300px;
}

.rating:hover { background-color: #a9da1f; }

.star * { margin-right: 8px; }