// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #00c974;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #00c974;
  --ion-color-primary-tint: #00c974;

  /** secondary **/
  --ion-color-secondary: #2196F3;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #2196F3;
  --ion-color-secondary-tint: #2196F3;

  /** tertiary **/
  --ion-color-tertiary: #a9da1f;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #a9da1f;
  --ion-color-tertiary-tint: #a9da1f;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.btn-home{
  --color:black;
  --background: transparent;
  width: 100%;
  height: 100%;
}

.btn-trip{
  --background: linear-gradient(90deg, #02b9c1, #83da22);
  --color: white;
  // font-size: 0.5em;
}

.box-gradient{
  margin: 10px 0;
  height: 3em;
  border-left: 3px solid #a9da1f;
  border-right: 3px solid #01acca;
  border-radius: 10px;
  background-image: linear-gradient(90deg, #a9da1f, #01acca), linear-gradient(90deg, #a9da1f, #01acca);
  background-size: 100% 3px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}

.btn-profile{
  height: 8em;
  background: transparent;
}

.btn-camera{
  height: 5em;
}

.bottom-element{
  @media screen and (min-height: 750px) {
      position: absolute;
      bottom: 5%;
      width: 93%;
  }
}

.logo{
  border-radius: 50%;
}

.input-round{
  --ion-background-color:#a9da1f;
  border-radius: 10px; 
}

.link{
  text-decoration:none;
  color: #2196F3;
}

.icon{
  margin-right: 10px;
}

.my-custom-modal-css .modal-wrapper {
  height: 40%;
  top: 30%;
  position: absolute;
  display: block;
  width: 80%; 
}

