<div class="panel-header panel-header-lg">
  <h5 class="card-category ml-5" [ngStyle]="{'color':'white'}">Viajes registrados</h5>
  <canvas baseChart id="bigDashboardChart"
    [datasets]="lineBigDashboardChartData"
    [labels]="lineBigDashboardChartLabels"
    [colors]="lineBigDashboardChartColors"
    [options]="lineBigDashboardChartOptions"
    [chartType]="lineBigDashboardChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)">
  </canvas>
</div>

<div class="main-content">
  <div class="row">
    
    <div class="col-lg-4 col-md-6 mt-3">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Usuarios registrados</h5>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="barChartSimpleGradientsNumbers"
              [datasets]="lineChartGradientsNumbersData"
              [labels]="lineChartGradientsNumbersLabels"
              [colors]="lineChartGradientsNumbersColors"
              [options]="lineChartGradientsNumbersOptions"
              [chartType]="lineChartGradientsNumbersType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>