<ion-grid class="popover" (click)="close()">
  <ion-row>
    <ion-buttons style="width: 100%; margin: 0; padding: 5px 10px; outline: none;" [routerLink]="['/perfil']">Perfil</ion-buttons>
  </ion-row>
  <ion-row>
    <ion-buttons style="width: 100%; margin: 0; padding: 5px 10px; outline: none;" [routerLink]="['/wallet']">Cartera</ion-buttons>
  </ion-row>
  <ion-row>
    <ion-buttons style="width: 100%; margin: 0; padding: 5px 10px; outline: none;" (click)="logout()">Cerrar Sesión</ion-buttons>
  </ion-row>
</ion-grid>