<div class="login">
  <div class="card" style="background: #162431;">
    <div class="card-header text-center">
    </div>
    <div class="card-body" style="padding: 10%;">
      <form [formGroup]="loginForm" (ngSubmit)="login()" style="background: #2a4057"> 
        <div class="row" style="padding: 5%;">
          <div class="col-12 text-center">
            <h5 style="color:#5e7388">YouLand login</h5>
          </div>

          <div class="col-md-12 mt-3 text-center">
            <i class="fa fa-user fa-2x" style="color:#4d667e"></i>
            <input type="mail" class="input-login pull-right" placeholder="Email" formControlName="email" >
          </div>

          <div class="col-md-12 mt-3 text-center">
            <i class="fa fa-lock fa-2x" style="color:#4d667e"></i>
            <input type="password" class="input-login pull-right" placeholder="Contraseña" formControlName="password">
          </div>

          <div class="col-md-12">
            <button type="submit" class="pull-right btn btn-gradient" [disabled]="!loginForm.valid">Ingresar</button>
          </div>
          
        </div>
      </form>
    </div>
  </div>
</div>
