<div class="text-center">
    <h1 mat-dialog-title>Detalles de viaje</h1>
    <div mat-dialog-content>
        <div class="row">
            <div class="col-md-6">
                <b>Fecha creado</b>
            </div>
            <div class="col-md-6">
                {{dataTrips.date | date:'shortDate'}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <b>Titulo</b>
            </div>
            <div class="col-md-6">
                {{dataTrips.title}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <b>Puntos</b>
            </div>
            <div class="col-md-6">
                <p *ngFor="let point of points">
                    {{point.name}}.
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <b>Conductor</b>
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <b>Pasajeros</b>
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
        <!-- <div class="table-responsive">
            <table class="table" mat-table [dataSource]="dataSource" matSort>
            
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha creado </th>
                <td mat-cell>
                    {{element.date}}
                </td>
            </ng-container>
            
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
                <td mat-cell *matCellDef="let element">
                    aja
                </td>
            </ng-container>

            <ng-container matColumnDef="points">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Puntos </th>
                <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora de salida</th>
                <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div> -->
    </div>
  </div>
