<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="background ion-text-center" padding>
    <ion-text>
      <h1>Crear Cuenta</h1>
      <p [ngStyle]="{'font-size':'0.9em'}">Añade tu foto de perfil</p>
    </ion-text>

    <div class="ion-text-center">

      <div [ngStyle]="{'position':'relative', 'width':'50%', 'display':'block', 'margin':'0 auto'}" *ngIf="singinForm.value.photo == ''">
        <ion-button shape="round" color="medium" size="large" fill="outline" class="btn-camera" (click)="getProfilePicture()">
          <img src="/assets/icon/camara.png" alt="">
        </ion-button>
        <img src="/assets/icon/mas.png" alt="" [ngStyle]="{'position':'absolute', 'bottom': '5%', 'right': '20%'}">
      </div>

      <div *ngIf="singinForm.value.photo != ''" [ngStyle]="{'position':'relative', 'width':'50%', 'display':'block', 'margin':'0 auto'}">
        <button shape="round" class="btn-profile" (click)="getProfilePicture()">
          <img src="http://157.230.191.152/uploads/{{singinForm.value.photo}}" alt="" [ngStyle]="{'border-radius':'50px', 'height':'100%'}">
        </button>
        <img src="/assets/icon/mas.png" alt="" [ngStyle]="{'position':'absolute', 'bottom': '5%', 'right': '20%'}">
      </div>

      <ion-text color="primary" *ngIf="singinForm.value.photo != ''" class="ion-no-margin">
        <h6>Imagen de perfil cargada</h6>
      </ion-text>

    </div>

    <form [formGroup]="singinForm" (ngSubmit)="signin()" [ngStyle]="{'margin-top': '3em'}">
      <ion-item class="input-round">
        <img src="/assets/icon/email.png" alt="" class="icon"/>
        <ion-input class="ion-padding-start" placeholder="Nombre y apellido" type="text" formControlName="name" ></ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="!singinForm.controls.name.valid && singinForm.controls.name.dirty" class="ion-no-margin">
        <h6>El nombre es requerido, debe tener por lo menos cuatro (04) letras, solo letras.</h6>
      </ion-text>
    
      <ion-item class="input-round ion-margin-top">
        <img src="/assets/icon/telefono.png" alt="" class="icon"/>
        <ion-input placeholder="Número de teléfono" type="number" formControlName="phone"></ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="!singinForm.controls.phone.valid && singinForm.controls.phone.dirty" class="ion-no-margin">
        <h6>El teléfono debe tener por lo menos diez (10) numeros.</h6>
      </ion-text>

      <ion-item class="input-round ion-margin-top">
        <img src="/assets/icon/correo.png" alt="" class="icon"/>
        <ion-input placeholder="E-mail" type="mail" formControlName="email"></ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="!singinForm.controls.email.valid && singinForm.controls.email.dirty" class="ion-no-margin">
        <h6>Debe ingresar un email valido.</h6>
      </ion-text>

      <ion-item class="input-round ion-margin-top">
        <img src="/assets/icon/contraseña.png" alt="" class="icon"/>
        <ion-input placeholder="Contraseña" type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="!singinForm.controls.password.valid && singinForm.controls.password.dirty" class="ion-no-margin">
        <h6>La contraseña debe tener por lo menos ocho (08) caracteres.</h6>
      </ion-text>

      <ion-item class="input-round ion-margin-top">
        <img src="/assets/icon/contraseña.png" alt="" class="icon"/>
        <ion-input placeholder="Confirmar Contraseña" type="password" formControlName="repassword"></ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="!singinForm.controls.repassword.valid && singinForm.controls.repassword.dirty && singinForm.controls.repassword.hasError('pw_mismatch')" class="ion-no-margin">
        <h6>Las contraseñas no coincide</h6>
      </ion-text>

      <div class="bottom-element ion-margin-top">
        <div class="box-gradient">
          <ion-button expand="block" fill="clear" class="btn-home" type="submit" [disabled]="!singinForm.valid">Continuar</ion-button>
        </div>
        <span>¿Ya tienes cuenta?<a class="link" [routerLink]="['/login']"> Inicia sesión</a></span>
      </div>
    </form>
</ion-content>

