<ion-header>
  <ion-segment [(ngModel)]="accion">
    <ion-grid>
      <ion-row>
        <div class="ion-float-left">
          <img src="/assets/img/logo.png" height="40" width="40" alt="" class="logo"/>
        </div>
        <ion-button [routerLink]="['/rating']">Calificar Servicio</ion-button>  
      </ion-row>
      <ion-row>
        
      </ion-row>
    </ion-grid>
  </ion-segment>
</ion-header>

<ion-content class="background">
  <div>
    <ion-grid style="height: 100%" *ngIf="loader == true">
      <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%; flex-direction: column">
        <ion-spinner color="primary" class=""></ion-spinner>
        Cargando viajes programados...
      </ion-row>
    </ion-grid>
    <!-- <div *ngFor="let trip of scheduledTrips">
      <ion-card class="card" style="background-color: aqua;">
        <ion-card-header class="card-header-turist" style="background-color: blue;">
          <div class="ion-float-left" style="font-size: 13px; font-weight: bold; color: black; height: 5px; opacity: 1 !important;">
            {{trip.post_title}}
          </div>
        </ion-card-header>
        <ion-card-content class="ion-margin-top" style="color: black; opacity: 1;">
          <p style="float: left;"><ion-icon name="calendar"></ion-icon> {{trip.time | date : 'shortDate'}} <ion-icon name="time"></ion-icon> {{trip.time | date : 'shortTime'}} <ion-icon name="cash"></ion-icon> 0$</p> <p style="float: right;" *ngIf="trip.driver == null">Pendiente</p> <p style="float: right;" *ngIf="trip.driver !== null">Activo</p>
        </ion-card-content>
      </ion-card>
    </div> -->
    <div *ngFor="let trip of taxiTrips">
      <a (click)="GoToDetail(trip.id, 'taxi')">  
        <ion-card class="card">
          <ion-card-header class="card-header-turist">
            <div>
              Taxi Viaje
            </div>
          </ion-card-header>
          <ion-grid style="font-size: 10px; padding: 0; color: black;">
            <ion-row style="padding: 5px 8px;" class="ion-align-items-center">
              <ion-col style="padding: 0;">
                <ion-icon name="calendar" style="color: red; font-size: 14;"></ion-icon>
                <ion-text>
                  {{trip.time | date : 'shortDate'}}
                </ion-text>
              </ion-col>
              <ion-col style="padding: 0;">
                <ion-icon name="time" style="color: gray; font-size: 14;"></ion-icon>
                <ion-text>
                  {{trip.time | date : 'shortTime'}}
                </ion-text>
              </ion-col>
              <ion-col style="padding: 0;">
                <ion-icon name="cash" style="color: green; font-size: 14;"></ion-icon>
                <ion-text>
                  {{trip.precio}}$
                </ion-text>
              </ion-col>
              <ion-col style="padding: 0;">
                <p style="float: right; margin: 0;" *ngIf="trip.driver == null">Pendiente</p> <p style="float: right; margin: 0;" *ngIf="trip.driver !== null">Activo</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </a>
    </div>
    <div *ngFor="let trip of scheduledTrips">
      <a (click)="GoToDetail(trip.id, 'turis')">  
        <ion-card class="card">
          <ion-card-header class="card-header-turist">
            <div *ngIf="trip.post_title != undefined || trip.post_title != null">
              {{trip.post_title}}
            </div>
          </ion-card-header>
          <ion-grid style="font-size: 10px; padding: 0; color: black;">
            <ion-row style="padding: 5px 8px;" class="ion-align-items-center">
              <ion-col style="padding: 0;">
                <ion-icon name="calendar" style="color: red; font-size: 14;"></ion-icon>
                <ion-text>
                  {{trip.time | date : 'shortDate'}}
                </ion-text>
              </ion-col>
              <ion-col style="padding: 0;">
                <ion-icon name="time" style="color: gray; font-size: 14;"></ion-icon>
                <ion-text>
                  {{trip.time | date : 'shortTime'}}
                </ion-text>
              </ion-col>
              <ion-col style="padding: 0;">
                <ion-icon name="cash" style="color: green; font-size: 14;"></ion-icon>
                <ion-text>
                  {{trip.precio}}$
                </ion-text>
              </ion-col>
              <ion-col style="padding: 0;">
                <p style="float: right; margin: 0;" *ngIf="trip.driver == null">Pendiente</p> <p style="float: right; margin: 0;" *ngIf="trip.driver !== null">Activo</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </a>
    </div>
  </div>
</ion-content>