
.background{
    --background: url("/assets/img/bg.png") 0 0/100% 100% no-repeat;
}

.ion-margin-top, [margin-top] {
    --margin-top: var(--ion-margin, 9px);
    margin-top: var(--ion-margin, 1px);
}

.card-header-turist {
    align-items: center;
    background-color: rgb(245, 245, 245);
    border-bottom: 0.3px solid rgb(220, 220, 220);
    color: black;
    display: flex;
    height: 20px;
    font-size: 13px;
    padding: 0 8px;
}

.card-header-turist { font-weight: bold; }

.card-content-md {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 1.5;
}

.box-gradient{
    margin: 0;
    height: 100%;
    border-left: 2px solid #a9da1f;
    border-right: 2px solid #01acca;
    background-size: 100% 2px;
}
  
.card{
    background-color: rgb(245, 245, 245);
    border-left: 6px solid red;
    border-radius: 8px;
    box-shadow: 0 2px 6px 2px grey;
    --background: white;
}

.segment-button-checked{
    // --background: ;
    background: linear-gradient(90deg, #02b9c1, #83da22) !important;
    color: white;
}

hr {
    border: 1px solid lightgray !important;
    width: 100% !important;
    background: lightgray !important;
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
  }