<ion-header>
  <ion-segment [(ngModel)]="accion">
    <ion-grid >
      <ion-row>
        <ion-col size="6">
          <div class="ion-float-left">
            <img src="/assets/img/logo.png" height="40" width="40" alt="" class="logo"/>      
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="ion-float-right">
            <ion-item lines="none">
              <ion-label>{{message}}</ion-label>
              <ion-toggle color="primary" (ionChange)="changeToggle($event)"></ion-toggle>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-segment-button value="guia">
            <ion-icon name="flash"></ion-icon>
            <ion-label>Guia turistica</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col size="6">
          <ion-segment-button value="taxi">
            <ion-icon name="car"></ion-icon>
            <ion-label>Taxi</ion-label>
          </ion-segment-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-segment>
</ion-header>

<ion-content class="background">

  <ion-grid style="height: 100%" *ngIf="loader == true">
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%; flex-direction: column">
      <ion-spinner color="primary" class=""></ion-spinner>
      Cargando viajes...
    </ion-row>
  </ion-grid>

  <!-- <ion-grid style="height: 100%" *ngIf="loader == false && scheduledTrips.length == 0 || taxiTrips.length == 0  ">
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%; flex-direction: column">
      No hay viajes disponibles...
    </ion-row>
  </ion-grid> -->

  <div *ngIf="accion == 'guia'">
    <div *ngFor='let trip of scheduledTrips'>
      <ion-card class="card mt-3">
        <ion-card-header class="card-header-turist">
          <div class="ion-float-left">
            {{trip.title}}
          </div>
          <div class="ion-float-right" *ngIf="trip.type != ''">
            Viaje turistico
          </div>
        </ion-card-header>
        <ion-card-content class="ion-margin-top">
          <p>{{trip.post_content[0].name}}{{trip.time}}</p>
          <div>
            <ion-grid>
              <ion-row>
               
                <ion-col size="5">
                  <ion-button fill="clear" class="btn-trip" (click)="takeTrip(trip.id, 'turis')">Tomar viaje</ion-button>
                </ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="5">
                  <ion-button fill="clear" class="btn-trip">Ver detalle</ion-button>
                </ion-col>
                <ion-col size="1"></ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngIf="accion == 'taxi'">
    <div *ngFor='let trip of taxiTrips'>
      <ion-card class="card mt-3">
        <ion-card-header class="card-header-turist">
          <div class="ion-float-left">
            {{trip.title}}
          </div>
          <div class="ion-float-right" *ngIf="trip.type != ''">
            Taxi viaje
          </div>
        </ion-card-header>
        <ion-card-content class="ion-margin-top">
          <p>A 500 mts de ti</p>
          <div>
            <ion-grid>
              <ion-row>
               
                <ion-col size="5">
                  <ion-button fill="clear" class="btn-trip" (click)="takeTrip(trip.id, 'taxi')">Tomar viaje</ion-button>
                </ion-col>
                <ion-col size="1"></ion-col>
                <ion-col size="5">
                  <ion-button fill="clear" on-click="GoToDetail(trip.id,'taxi')" class="btn-trip">Ver detalle</ion-button>
                </ion-col>
                <ion-col size="1"></ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <!-- <div *ngIf="loader == false && trips.length > 0">
    <div *ngFor='let trip of trips'>
      <ion-card class="card mt-3">
        <ion-card-header class="card-header-turist">
          <div class="ion-float-left">
            {{trip.title}}
          </div>
          <div class="ion-float-right" *ngIf="trip.type != ''">
            Viaje turistico
          </div>
        </ion-card-header>
        <ion-card-content class="ion-margin-top">
          <p>{{trip.point}}{{trip.time}}</p>
          <div>
            <ion-grid>
              <ion-row>
                <ion-col size="2"></ion-col>
                <ion-col size="5">
                  <ion-button fill="clear" class="btn-trip" (click)="reserveTrip(trip.id)">Tomar viaje</ion-button>
                </ion-col>
                <ion-col size="5">
                  <ion-button fill="clear" class="btn-trip">Ver detalle</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <ion-col text-end>
    <ion-button (click)="loadMap()" shape="round" fill="outline">
      <ion-icon slot="start" name="locate"></ion-icon>
      ¿Donde estoy?
    </ion-button>
  </ion-col>
  <div #map id="map"></div> -->

</ion-content>
<div [ngClass]="estiloViajeEnviado"></div>