.a-i-c {
    align-items: center;
    display: flex;
}

.c-grey { color: grey; }

.c-grey-c { color: rgb(190, 190, 190); }

.c-orange { color: orange; }

.cal {
    align-items: flex-end;
    display: flex;
    margin-left: 8px;
    padding: 0;
}

.cali {
    align-items: flex-end;
    display: flex;
    height: 45px;
}

.card {
    background-color: rgb(245, 245, 245);
    background-clip: padding-box;
    border-radius: 8px;
    box-shadow: 0 2px 6px 2px grey;
    margin: 0 0 10px 0;
    position: relative;
    width: 100%;
}

.card:after {
    border-left: 6px solid transparent;
    border-radius: inherit;
    border-image: linear-gradient(0deg, #01acca, #a9da1f);
    border-image-slice: 1;
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 10;
}

.font-12 { font-size: 12px; }

.font-14 { font-size: 14px; }

.font-16 { font-size: 16px; }

.font-20 { font-size: 20px; }

.font-25 { font-size: 25px; }

.font-38 { font-size: 38px; }

.font-bold { font-weight: bold; }

.h-auto { height: auto; }

.icon-p-r-5 { padding-right: 5px; }

.m-0 { margin: 0; }

.m-r-3 { margin-right: 3px;}

.m-top-15 { margin-top: 15px; }

.m-top-30 { margin-top: 30px; }

.p-0 { padding: 0; }

.p-0-10 { padding: 0 10px; }

.p-0-15 { padding: 2px 15px;}

.p-b-5 { padding-bottom: 5px;}

.p-t-5 { padding-top: 5px;}

.star * { margin-right: 8px; }