<app-header></app-header>

<ion-grid class="m-0 h-auto p-0-10">
  <ion-row class="ion-align-items-center ion-justify-content-center font-14">
    Luis Rivas
  </ion-row>

  <ion-row class="ion-align-items-center ion-justify-content-center ion-grid-padding">
    <h2 class="font-14 m-0 font-bold m-top-15">
      Saldo Disponible
    </h2>
  </ion-row>

  <ion-row class="ion-align-items-center ion-justify-content-center">
    <h3 class="font-bold font-25 m-0">
      153$
    </h3>
  </ion-row>

  <ion-row class="m-top-30">
    <p class="font-bold font-14">
      Calificación
    </p>
  </ion-row>

  <ion-row class="cali">
      <p class="font-38 m-0">
        30.9
      </p>
      <p class="cal c-grey font-12">
        <ion-icon name="person" class="font-20 icon-p-r-5"></ion-icon>3 personas en total
      </p>
  </ion-row>

  <ion-row class="star">
    <ion-icon name="star" class="font-38 c-grey-c c-orange"></ion-icon>
    <ion-icon name="star" class="font-38 c-grey-c c-orange"></ion-icon>
    <ion-icon name="star" class="font-38 c-grey-c c-orange"></ion-icon>
    <ion-icon name="star" class="font-38 c-grey-c"></ion-icon>
    <ion-icon name="star" class="font-38 c-grey-c"></ion-icon>
    <i class="fas fa-star font-38 c-grey-c"></i>
  </ion-row>

  <ion-row class="m-top-15">
    <p class="font-bold font-14">
      Viajes realizados
    </p>
  </ion-row>

  <ion-row class="p-0">
    <ion-card class="card b-left-gradient">
      <ion-card-header class="p-0-15 p-b-5 p-t-5">
        <ion-card-title class="font-12 a-i-c">
          <ion-icon name="pin" class="font-16 m-r-3" style="color: blue;"></ion-icon>
          <ion-text>
            Rectoria Santo Domingo
          </ion-text>
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="p-0-15 p-b-5">
        <ion-grid class="p-0">
          <ion-row class="font-12">
            <ion-col class="a-i-c p-0">
              <ion-icon name="calendar" class="font-16 m-r-3" style="color: red;"></ion-icon>
              <ion-text>
                15/11/2019
              </ion-text>
            </ion-col>
            <ion-col class="a-i-c p-0">
              <ion-icon name="time" class="font-16 m-r-3" style="color: grey;"></ion-icon>
              <ion-text>
                3:00 pm
              </ion-text>
            </ion-col>
            <ion-col class="a-i-c p-0">
              <ion-icon name="cash" class="font-16 m-r-3" style="color: green;"></ion-icon>
              <ion-text>
                500$
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-row>

</ion-grid>
